@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    60% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-fade {
    animation: fade 0.3s ease-in-out;
}

.animate-scale {
    animation: scale 0.3s ease-in-out;
}

.animate-slide-up {
    animation: slide-up 0.3s ease-in-out;
}

.animate-slide-right {
    animation: slide-right 0.3s ease-in-out;
}

.animate-slide-left {
    animation: slide-left 0.3s ease-in-out;
}